<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>389808981105-vecpelp5ik6dm9cgorrf715e949nouak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389808981105-vecpelp5ik6dm9cgorrf715e949nouak</string>
	<key>API_KEY</key>
	<string>AIzaSyBjBt2h1d4yPJzsR7RLZiznC5EYCubCXRc</string>
	<key>GCM_SENDER_ID</key>
	<string>389808981105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Rubin.ios.MuscleDiary</string>
	<key>PROJECT_ID</key>
	<string>musclediary-180ce</string>
	<key>STORAGE_BUCKET</key>
	<string>musclediary-180ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389808981105:ios:d9904522c682835da487d0</string>
	<key>DATABASE_URL</key>
	<string>https://musclediary-180ce.firebaseio.com</string>
</dict>
</plist>